.profile-container {
    margin: 10px auto;
}

.profile-biography-hdr {
    margin: 5px;
    display: block;
}

.profile-biography {
    margin: 5px;
}

.profile-pic {
    border-radius: 16px;
    float:left;
    height: 130px;
    width: 160px;
    margin: 10px;
}