.post-container {
    border: grey 2px solid;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
}

.post-pic {
    margin: 2px;
    margin-right: 10px;
    width: 42px;
    height: 34px;
    border-radius: 20px;
}

.post-hdr {
    font-weight: bold;
    text-align: start;
}

.post-comment {
    text-align: start;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.post-content-img {
    float: left;
    border-radius: 3px;
    height: 70px;
    width: 70px;
    margin-right: 15px;
}

.post-content-desc {
    text-decoration: underline;
}
